* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }
 
  /*end of css reset*/

  /*body {
    height: 100vh;
    width: 100%;
  }*/

  body {
      background-image: linear-gradient(rgb(247, 233, 243), pink);
  }


  .header {
      height: 100vh;
      width: 100%;  
      /*background-image: linear-gradient(white, pink);  /*url(background-photo.jpg);*/
      /*background-position: center;*/
      background-size: cover;
      position: relative;
      /*display: flex;
      justify-content: center;*/
  }


  h1 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 550;
      font-size: 110px;
      letter-spacing: 0.1em;
      margin-top: 20px;
  }


  #main1 {
      position: absolute;
      display: inline-block;
      top: 200px;
      /*right: 40%;*/
      margin-left: 150px;
      z-index: 7;
  }

  #littlegirl img {
      position: absolute; 
      display: inline-block;
      height: 280px;
      /*max-width: 50%;*/
      top: 0;
      right: 50%;
      z-index: 2;
  }

  #main2 {
      position: absolute;
      display: inline-block;
      top: 300px;
      right: 15%;
      z-index: 6;
  }

  #boyandgirl img {
    position: absolute; 
    display: inline-block;
    width: 280px;
    margin-top: 120px;
    left: 70%;
    z-index: 3;
  }

  #main3 {
      position: absolute;
      display: inline-block;
      margin-top: 400px;
      margin-left: 580px;
      padding-top: 20px;
      /*right: 30%;*/
      z-index: 9;
  }


  #baby img {
    position: absolute; 
    display: inline-block;
    height: 100;
    margin-top: 370px;
    margin-left: 0;
    z-index: 5;
    width: 280px;
  }



  #main4 {
      position: absolute;
      display: inline-block;
      top: 550px;
      right: 35%;
      z-index: 7;
  }


  #clothes img {
    position: absolute; 
    display: inline-block;
    margin-top: 650px;
    left: 55%;
    z-index: 4;
  }

  #littleboy img {
    position: absolute; 
    display: inline-block;
    height: 250px;
    top: 750px;
    left: 18%;
    z-index: 1;
  }


  .storename1 {
      display: block;
      position: absolute;
      align-items: center;
      margin-top: 500px;
      margin-left: 25%;
      transform: translateX(-25%);
      line-height: 10px;
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;  
  }

  .storename2 {
      display: block;
      position: absolute;
      align-items: center;
      margin-top: 500px;
      margin-left: 30%;
      transform: translateX(-30%);
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;  
      letter-spacing: 0.2em;
  }

    /* position: absolute;
    display: inline-block;  
    margin-top: 500px;
    margin-right: 70px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 10px;
    z-index: 6;*/



  /* end of main page */



#about {
    /*isplay: flex;*/
    position: absolute;
    align-items: center;
    /*position: fixed;*/
    z-index: 30;
    margin-top: 200px;
    /*display: block;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;*/
}

#about h3 {
    color: rgb(102, 99, 99);
    font-size: 22px;
}

/* end of about section*/

section iframe {
    width:420px;
    height:345;
    margin: 20px;
}

/*end of video section*/

.searchbar {
    max-width: 20px;
    height: 50% ;
}


div ul {
    display: flex;
    align-items: center;
    margin-left: 300px;
    /*position: absolute;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);*/
    padding: 30px;
    list-style-type: none;
}

div ul li {
    margin-right: 40px;
    font-weight: bold;
}